<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer test</title>
</head>
<body>
<div class="container">
    <footer class="text-center" th:fragment="footer-links">
        <a th:text="#{footer.lastUpdated}"></a>
        <a href="https://www.nhs.wales/" th:text="#{footer.NhsWelsh}"></a>
        <a href="https://www.england.nhs.uk/" th:text="#{footer.NhsEngland}"></a>
        <a href="https://www.nhsinform.scot/" th:text="#{footer.NhsScotland}"></a>
        <a href="https://www.hscni.net/" th:text="#{footer.hscNorthernIreland}"></a>
        <img src="/images/NhsWales.JPEG" alt="NHS Wales Logo" style="width:100px; height:auto;">

    </footer>
    <script th:fragment="bootstrap-js"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
</div>
</body>
</html>