<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Period Recruitment Statistics</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" href="/css/statistics.css">
    <script src="/javaScript/statistics.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<header>
    <a href="/statistics" th:text="#{statistics.overview.backToOverview}"></a>
    <h1 th:text="#{statistics.page.timePeriodRecruitment}"></h1>
    <nav>
        <ul>
            <li><a href="/event-statistics" th:text="#{statistics.page.eventRecruitment}"></a></li>
            <li><a href="/time-statistics" th:text="#{statistics.page.timePeriodRecruitment}"></a></li>
            <li><a href="/location-statistics" th:text="#{statistics.page.locationRecruitment}"></a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2 th:text="#{statistics.page.timePeriodRecruitment}"></h2>
        <canvas id="timePeriodRecruitmentChart"></canvas>
    </section>
</main>
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>