<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Dashboard</title>
    <link th:replace="fragments/header :: bootstrap-css"/>
    <link rel="stylesheet" href="/css/emailpage.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"/>



<h1 class="email-dashboard-title">Email Dashboard</h1>
<br>
<div class="email-dashboard-body">
    <form th:action="@{/email/selector}" method="get">
        <button class="email-dashboard-button" type="submit" th:text="#{email.page.sendEmailToMultipleUsers}"></button>
    </form>
    <br>
    <form th:action="@{/email/customEmails}" method="get">
        <button class="email-dashboard-button" th:text="#{email.page.composeAndSendCustomEmail}"></button>
    </form>
    <br>
    <form th:action="@{/email/newsletter}" method="get">
        <button  class="email-dashboard-button" type="submit">Send Newsletter</button>
    </form>
</div>


<br>


<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>

</body>

</html>

