<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Dashboard</title>
</head>
<body>
<h1>Email Dashboard</h1>
<form th:action="@{/email/selector}" method="get">
    <button type="submit">Send email to multiple users</button>
</form>

<form th:action="@{/email/customEmails}" method="get">
    <button type="submit">Compose and send custom email</button>
</form>

<form th:action="@{/email/newsletter}" method="get">
    <button type="submit">Send Newsletter</button>
</form>

</body>

</html>

