<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Profile</title>
    <link rel="stylesheet" href="/styling/IndividualProfiles.css">
    <link th:replace="fragments/header :: bootstrap-css"/>
    <link rel="stylesheet" type="text/css" href="/css/profilePageStyling.css"/>
    <script src="/javaScript/profilePageJS.js"></script>
    <script th:inline="javascript">
        const alertMessage = [[${alertMessage}]];
        if (alertMessage) {
            alert(alertMessage);
        }

    </script>

</head>
<body>

<div th:replace="~{fragments/header :: header}"/>
<h1> Select Applicant(s) to Email</h1>
<form th:action="@{/email/sendEmails}" method="post">
    <table id="table1" class="tableClickable">
        <thead>
        <tr>
            <th th:data-type="firstName">First Name</th>
            <th th:data-type="lastName">Last Name</th>
            <th>
                <select id="locationDropdown">
                    <option value="">All Locations</option>
                    <option th:each="location : ${uniqueLocations}" th:value="${location.getLocation()}" th:text="${location.getLocation()}"></option>
                </select>
            </th>
            <th th:data-href="@{/profile/eventAttendedAscending}">Event Attended</th>
            <th>Email?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile : ${profileList}" th:data-href="@{/profile/{id}(id=${profile.getId()})}" th:data-location="${profile.getLocation()}" th:data-firstName="${profile.getFirstName()}" th:data-lastName="${profile.getLastName()}">
            <td th:text="${profile.getFirstName()}"></td>
            <td th:text="${profile.getLastName()}"></td>
            <td th:text="${profile.getLocation()}"></td>
            <td th:text="${profile.getEventAttended()}"></td>
            <td><input type="checkbox" name="emailIds" th:value="${profile.getId()}"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Send email to selected users</button>
</form>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>
