<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Health and Care Wales</title>
    <link th:replace="fragments/header :: bootstrap-css"/>
    <link rel="stylesheet" type="text/css" href="css/homeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/profilePageStyling.css">
</head>
<body>
<script th:src="@{js/homeJs.js}"></script>
<div th:replace="~{fragments/header :: header}"/>

<div class="homeContainer">

    <div class="tableContainer">
        <table class="homeTable">
            <caption class="captionFix">Recent Applicants</caption>
            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Application Time</th>
            </thead>
            <tbody>
            <tr th:each="applicants : ${applicants}">
                <td th:text="${applicants.firstName}"></td>
                <td th:text="${applicants.lastName}"></td>
                <td th:text="${applicants.location}"></td>
                <td th:text="${applicants.skill}"></td>
                <td th:text="${applicants.createdAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="buttonContainer">
        <button class="homeButton" onclick="goProfile()">View Applicants</button>
        <button class="homeButton">Activity Log</button>
        <button class="homeButton">Statistics</button>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>

</body>
</html>