<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Applicant</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" type="text/css" href="css/homeStyle.css"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"/>
<div class="container">
    <h2>Add New Applicant</h2>
    <div th:if="${errorEmail}" class="text-danger">
        <p>Email already in use</p>
    </div>
    <div th:if="${added}" class="text-success">
        <p>Applicant added successfully</p>
    </div>
    <div th:if="${bindingError}" class="text-danger">
        <p>Email or Phone Number is in an invalid format</p>
    </div>
    <form th:method="post" th:object="${applicants}">
        <label class="form-label" th:for="*{firstName}">First Name: </label>
        <input class="form-control" placeholder="First Name" th:field="*{firstName}" type="text" required>

        <label class="form-label" th:for="*{lastName}">Last Name: </label>
        <input class="form-control" placeholder="Last Name" th:field="*{lastName}" type="text" required>

        <label class="form-label" th:for="*{location}">Location: </label>
        <input class="form-control" placeholder="Location" th:field="*{location}" type="text" required>

        <label class="form-label" th:for="*{email}">Email: </label>
        <input class="form-control" placeholder="Email" th:field="*{email}" type="text" required>

        <label class="form-label" th:for="*{phoneNumber}">Phone Number: </label>
        <input class="form-control" placeholder="Phone Number" th:field="*{phoneNumber}" type="text">

        <label class="form-label" th:for="*{eventAttended}">Event Attended: </label>
        <input class="form-control" placeholder="Event Attended" th:field="*{eventAttended}" type="text" required>

        <label class="form-label" th:for="*{skill}">Skill: </label>
        <input class="form-control" placeholder="Skill" th:field="*{skill}" type="text">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!--firstName       varchar(128) not null ,-->
<!--lastName        varchar(128) not null ,-->
<!--location        varchar(100) not null ,-->
<!--email           varchar(100) not null unique,-->
<!--phoneNumber     varchar(15),-->
<!--eventAttended   varchar(100) not null,-->
<!--skill           text,-->











<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>

</html>