<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Applicant</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" type="text/css" href="css/homeStyle.css"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"/>

<div class="heading">
    <h2 th:text="#{option.page.header}"></h2>
</div>
<div class="optionDiv">
    <a class="homeButton" th:href="@{add-applicant/manual}" th:text="#{option.page.button.manuallyAdd}"></a>
    <a class="homeButton" th:text="#{option.page.button.cvs}"></a>
</div>
<div class="heading">
    <a class="btn btn-info" th:href="@{/home}" th:text="#{option.page.button.home}"></a>
</div>




<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>

</body>
</html>