<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div>
    <form th:action="@{/admin/add}" th:object="${user}" th:method="post">
        <h1>Add New User</h1>
        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" th:field="*{firstName}" required><br>

        <label for="lastName">Last Name: </label>
        <input type="text" id="lastName" th:field="*{lastName}" required><br>

        <label for="username">Username: </label>
        <input type="text" id="username" th:field="*{username}" required><br>

        <label for="passwordHashed">Password: </label>
        <input type="password" id="passwordHashed" th:field="*{password}" required><br>

        <label for="role">Role: </label>
        <select id="role" th:field="*{role}" required>
            <option value="recruiter">Recruiter</option>
            <option value="admin">Admin</option>
        </select><br>

        <button type="submit">Add User</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>
