<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="userDetails-container">
    <main class="userDetails-wrapper">
        <h1 class="userDetails-header">User Details</h1>
        <div class="userDetails-content">
            <p><strong>ID:</strong> <span th:text="${user.id}" class="userDetails-info"></span></p>
            <p><strong>Username:</strong> <span th:text="${user.username}" class="userDetails-info"></span></p>
            <p><strong>Password:</strong> <span th:text="${user.password}" class="userDetails-info"></span></p>
            <p><strong>First Name:</strong> <span th:text="${user.firstName}" class="userDetails-info"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${user.lastName}" class="userDetails-info"></span></p>
            <p><strong>Role:</strong> <span th:text="${user.role}" class="userDetails-info"></span></p>
            <p><strong>Last Login:</strong> <span th:text="${user.lastLogin}" class="userDetails-info"></span></p>
            <p><strong>Created At:</strong> <span th:text="${user.createdAt}" class="userDetails-info"></span></p>
        </div>
        <div class="userDetails-actions">
            <form th:action="@{/admin/user/delete/{id}(id=${user.id})}" method="post" class="userDetails-delete-form">
                <button type="submit" class="userDetails-button-delete">Delete</button>
            </form>
            <a th:href="@{/admin}" class="userDetails-button-back">Back to List</a>
        </div>
    </main>
</div>
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>