/*Table CSS design adapted from https://www.youtube.com/watch?v=uMtyxRSqxIk*/

.homeTable{
    display: table;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
    padding-top: 200px;
    height: 15vh;
    width: 100%;
    border: 2px solid black;
    overflow-y: auto;

}

.homeTable thead {
    background: #2D366C;
    color: white;
    text-align: left;
    padding: 6px 8px;
    text-transform: uppercase;

}
.homeTable th {
    position: sticky;
}

.homeTable tbody tr:nth-of-type(even) {
    background-color: #dddddd;
}

.optionDiv {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;

}

.heading {
    padding-top: 30px;
    max-width: fit-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.homeTable td, .homeTable tr {
    border-collapse: collapse;
    padding: 1px;
}

.homeTable tbody tr:hover {
    background: #d4e1f4;
}

.errorNoti {
    color: red;
}

.addedNoti {
    color: green;
}

.captionFix {
    caption-side: top;
    font-size: 20px;
    cursor: default;
}





.homeButton:hover {
    background-color: #22519C;
    transition: all 0.1s ease-in-out;
}

body {
    height: 100%;
    margin: 0;
}



.homeContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;

    /*border: 8px solid lawngreen;*/
}

.buttonContainer {
    padding-top: 5px;
    align-content: center;
    width: 90%;
    height: 40%;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    justify-content: space-evenly;
    padding-bottom: 10px;

}

.homeButton {
    background-color: #2D366C;
    height: 10vw;
    width: 20vw;
    text-align: center;
    text-decoration: #2D366C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

.tableContainerHome {
    min-width: 400px;

    display: flex;
    padding-right: 10px;
    width: 90%;
    overflow-y: auto;


    /*border: 8px solid lawngreen;*/
}