.tableClickable {
    width: 90%;
    margin: 0 auto;
    align-content: center;

}
.tableClickable th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tableClickable thead {
    background: #2D366C;
    color: white;
    padding: 200px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

.tableClickable tbody tr {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.tableClickable tbody tr:not(:first-child) {
    border-top: 1px #2D366C;
}

.tableClickable tbody tr:last-child {
    border-bottom: 1px #2D366C;
}
.tableClickable tbody tr:hover {
    color: white;
    background: #2D366C;
}