<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Profile</title>
    <link rel="stylesheet" href="/styling/IndividualProfiles.css">
    <link th:replace="fragments/header :: bootstrap-css"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div th:if="${profile != null}" class="profile-container">
    <div class = "profile-details">
        <h2>Personal Details</h2>
        <table>
            <tr>
                <th>First Name</th>
                <td th:text="${profile.firstName}"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td th:text="${profile.lastName}"></td>
            </tr>
            <tr>
                <th>Location</th>
                <td th:text="${profile.location}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${profile.email}"></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td th:text="${profile.phoneNumber != null ? profile.phoneNumber : 'N/A'}"></td>
            </tr>

        </table>
        <br>

        <h2>Applicant Experience</h2>
        <table>
            <tr>
                <th>Current Position</th>
                <td th:text="${profile.jobDetails?.currentPosition != null ? profile.jobDetails.currentPosition : 'N/A'}"></td>
            </tr>
            <tr>
                <th>Status</th>
                <td th:text="${profile.jobDetails?.status != null ? profile.jobDetails.status : 'N/A'}"></td>
            </tr>
            <tr>
                <th>Skills</th>
                <td th:text="${profile.skill != null ? profile.skill : 'N/A'}"></td>
            </tr>
            <tr>
                <th>Event Attended</th>
                <td th:text="${profile.eventAttended}"></td>
            </tr>
        </table>

        <br>

        <h2>Applicant Preferences</h2>

        <table>
            <tr>
                <th>Subscribed to newsletter?</th>
                <td th:text="${profile.preferences?.subscribeToNewsletter} ? 'Yes' : 'No'"></td>
            </tr>
            <tr>
                <th>Subscribed to bulletins?</th>
                <td th:text="${profile.preferences?.subscribeToBulletins} ? 'Yes' : 'No'"></td>
            </tr>
            <tr>
                <th>Subscribed to job updates?</th>
                <td th:text="${profile.preferences?.subscribeToJobUpdates} ? 'Yes' : 'No'"></td>
            </tr>
        </table>

        <a th:href="@{/profile}">Back to Profiles</a>

    </div>

    <div class = resume-section>
        <h2>Applicant Resume</h2>

    </div>


</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>

